@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

h1 {

    font-family: "Times New Roman", Times, serif;

}

* {

    margin: 0;
    padding: 0;

}

body{

    height: 100vh;
    box-sizing: border-box; 
    background-color:black;
    color:white;
    font-family: 'Sixtyfour', sans-serif;

}

strong{

    color: aqua;

}

.apresentacao {

    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.apresentacao__conteudo {

    width: 60%;
    height: 30%;

}

.apresentacao__conteudo__titulo {

    margin: 3%;
    font-size: 35px;

}

.apresentacao__conteudo__paragrafo {

    font-size: 20px;

}

.apresentacao__conteudo__links {

    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

.apresentacao__conteudo__links__link {

    text-align: center;
    width: 45%;
    margin: 3%;
    text-decoration: none;
    color:black;
    background-color: aqua;
    font-family: "Times New Roman", Times, serif;
    padding: 3% 0;
    border-radius: 8%;

}

footer {

    font-family: "Times New Roman", Times, serif;
    font-size: 20px;

}

p {

    text-align: justify;

}
  